@font-face{
    font-family: 'FonteTitulo';
    src: url("fonts/Minecraftia-Regular.ttf");
}

@font-face{
    font-family: 'FonteParagrafo';
    src: url("fonts/pixelmix.ttf");
}

body{
    background-image: url("imagens/fundo.jpg");
    background-size: cover;      
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;

    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    text-align: center;
}

button{
    width: 200px;
    height: 50px;
    font-size: 18px;
    margin: 10px;
}

button:hover{
    background-color: rgb(172, 167, 167);
}

h1{
    color: aliceblue;
    text-shadow: 
        -2px -2px 0 black,
        2px -2px 0 black,
        -2px 2px 0 black,
        2px 2px 0 black;
}